<div id="containerdos">
<div class="contenedor_segundo">
    <h2 class="Titulo_principal">SI QUIERES UN CAMBIO, HAZLO YA!</h2>
    <div class="conocenos">
        <h4 id="subtitle">CONÓCENOS</h4>
        <div class="textodos">
            <p class="parrafo">Somos una empresa reconocida a nivel nacional e internacional por brindar un servicio optimizado en el área del reciclaje, creada en el 
                año 2023 por un grupo de estudiantes de 6to ciclo, de la facultad de Ingeniería de la Universidad Peruana de Ciencias Aplicadas.</p>
            <p class="parrafo">Nuestra aplicación consiste en localizar los puntos de reciclaje más cercanos a la zona en la que te encuentras, brindarte la información necesaria,
                como los tipos de reciclaje que acepta y los precios de cada una de estas. 
                Al usar nuestro aplicativo en su dispositivo móvil podrá, por medio de la cámara, gracias a la realidad aumentada, analizar si un objeto es reciclable o no, 
                junto a sus características y detalles del mismo.</p>
        </div>
    </div>

    <div class="mision_vision">
        <div class="m_v1">                           
            <div class="img_m_v">
              <img src="../assets/Img/misión_verde_claro.png">
              <p class="texto_m_v_front">MISIÓN</p>
            </div>
            <div class="texto_m_v" id="txt_mi">
                <p class="parrafo">Brindar facilidades a los usuarios interesados en el tema de reciclaje, además de proporcionar
                    información relevante y confiable para que de esa manera, muchas más personas sean respetuosas y amigables, realizando prácticas que
                    favorezcan a nuestro medio ambiente, como el reciclaje, ya sea desde la comodidad de su hogar o en diferentes lugares que brindan ese
                    servicio.</p>
            </div>                          
        </div>

        <div class="m_v2">                            
            <div class="texto_m_v" id="txt_vi">
                <p class="parrafo">Nuestra visión es ser una empresa reconocida a nivel nacional e internacional por brindar un servicio optimizado en el área 
                    del reciclaje.</p>
                <p class="parrafo">Usar la tecnología para otorgar facilidades en la información de un producto desde la comodidad del hogar y atraer a más usuarios.</p>
            </div>
            <div class="img_m_v">
                <img src="../assets/Img/visión_verde_claro.png">
                <p class="texto_m_v_front">VISIÓN</p>
            </div>
        </div>
    </div>
 </div>        
</div>
  
<div id="containertres">
<div class="contenedor_tercero">
 <h2 class="titulo_principal">NUESTROS PRINCIPIOS</h2>
 <div class="Nuestros-Principios">
     <div class="logo_secundario">
         <img src="../assets/Img/logo_verde_agua.png"> 
     </div>   
     <div class="cajaAux">
         <div class="caja_principios">
             <div class="columna">
                 <p class="Lt">RESPONSABILIDAD</p>  
                 <p class="Rt">EQUIDAD</p>
                 <p class="Lt">EXCELENCIA</p>
                 <p class="Rt">SOLIDARIDAD</p>
                 <p class="Lt">INTEGRIDAD</p>
                 <p class="Rt">HONESTIDAD</p>
             </div>
         </div>
     </div>
 </div>
 <h3 class="subtitulo_principal">NUESTRAS HERRAMIENTAS</h3>
 <div class="OpcionesUC">
     <div class="row">
         <div class="col-12 col-sm-4 col-lg-4 Card-corp Extrem-card" >
             <div class="card">
               <a href="#"><img src="../assets/Img/ScanerIMG.png" class="card-img-top" alt="..."></a>
               <div class="card-body">
                 <a href="#"><h5 class="card-title">Buscar</h5></a>
                 <p class="card-text">Esta herramienta permite escanear el objeto que apunta la cámara para saber de que material reciclable esta compuesto.</p>
               </div>
             </div>
         </div>

         <div class="col-12 col-sm-4 col-lg-4 Card-corp Center-card">
             <div class="card" >
               <a href="#"><img src="../assets/Img/ProductosIMG.jpg" class="card-img-top" alt="..."></a>
               <div class="card-body">
                 <a href="#"><h5 class="card-title">Productos</h5></a>
                 <p class="card-text">Esta herramienta permite ver los productos más recientes reciclables y ver la opinión de otros usuarios a cerca del producto buscado.</p>
               </div>
             </div>
         </div>

         <div class="col-12 col-sm-4 col-lg-4 Card-corp Extrem-card">
             <div class="card">
               <a href="#"><img src="../assets/Img/MapaIMG.jpg" class="card-img-top" id="mapaImg" alt="..."></a>
               <div class="card-body">
                 <a href="#"><h5 class="card-title">Mapa</h5></a>
                 <p class="card-text">Esta herramienta permite buscar los centros de reciclaje más cercanos a la ubicación buscada por el usuario.</p>
               </div>
             </div>
         </div>
     </div>
 </div>
</div>
</div>

<div id="contenedor_contacto">
 <h2 class="Contactanos"> Contáctanos</h2>
 <div class="Contac" id="content">
     <div class="container-Contac">
         <div class="Contac-Prim">
             <p> Para cualquier consulta por favor contactanos por WhatsApp o completa el siguiente formulario</p>
         </div>
         <div class="Contact-Datos">
             <div class="Contact-NA">  
                 <p class="Name"> Nombre: </p>
                 <p class="Apellido"> Apellido: </p>
             </div>
             <div class="Contact-NA-Rec"> 
                 <input class="Contac-NomRec" type="write" placeholder="Escriba">
                 <input class="Contac-ApRec" type="write" placeholder="Escriba">
             </div>
             <div class="Contact-ET"> 
                 <p class="Email"> Email: </p>
                 <p class="Telefono"> Telefono: </p>
             </div>
             <div class="Contact-ET-Rec">   
                 <input class="Contac-EmRec" type="write" placeholder="Escriba">
                 <input class="Contac-TelRec" type="write" placeholder="Escriba">
             </div>
         </div>
         <div class="Contact-Message"> 
             <p class="message"> Deja tu mensaje: </p>
             <input class="Contac-MensRec" type="write" placeholder="Escriba">
             <a [routerLink]="'/login'"><p class="Boton_Enviar">Enviar</p></a>
         </div>

     </div>
     <div class="Icons">
         <a href="#" class="calificacion">Calificanos <img class="IconoVer" src="../assets/Img/Check.png"> </a>
     </div>
 </div>
</div>

<footer class="Footer">
    <div class="containerF">
        <div class="F-row">
            <div class="PrimeraSec">
                <img src="../assets/Img/logo.png" class="logofooter">
                <p>Utopian Change</p>
            </div>
            <div class="contactos">
                <h4>Contactos:</h4>
                <ul>
                    <li><a href="#">Celular: +51 999666555</a></li>
                    <li>Dirección: Lima</li>
                    <li>Horario: 9:00 a.m - 8:00 p.m.</li>
                </ul>
            </div>
            <div class="Redessociales">
                <h4>Redes Sociales:</h4>
                <ul>
                    <li><a href="https://www.facebook.com"><img src="../assets/Img/facebook (3).png"></a>Utopian Change</li>
                    <li><a href="https://www.twitter.com"><img src="../assets/Img/twitter (2).png"></a>Utopian Change</li>
                    <li><a href="https://www.whatsapp.com"><img src="../assets/Img/whatsapp (1).png"></a>Utopian Change</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <p class="pfooter">© <a href="#">Utopian Change</a> 2023. Creado por Utopian Change</p>
        </div>
    </div>
</footer>  