<body>
    <div id="contenedor">
        <div class="como_reciclar">
        <h1 style="text-align: center;">Consejos para reciclar correctamente</h1>
        <p>
            <strong>El proceso del reciclaje comienza en casa cuando se saca la basura de los hogares.</strong>
        </p>
        <p>
            En Perú los consumidores deben separar los envases de sus productos del resto de la 
            basura para luego ser depositados en los diferentes contenedores, que se clasifican 
            según el material en tres o cuatro colores.
        </p>
        <p>
            En ocasiones reciclar parece dificultoso, pero si sigues las siguientes 
            <strong>recomendaciones podrás realizar el primer paso del proceso del reciclaje adecuadamente.</strong>
        </p>

        <h2>Consejos a la hora de reciclar:</h2>
        <ol>
            <li>
                Al momento de realizar tus comprar escoge el producto con menor envase o envases que puedas reciclar.</li>
            <li>
                Separa la basura orgánica de los envases.</li>
            <li>
                Separa los envases dependiendo de su material: plásticos, vidrio, aluminio o metal.</li>
            <li>
                Coloca cada envase en el contenedor que corresponde. El amarillo es donde debes colocar cualquier 
                tipo de envase ligero: de plástico, tetrabricks, latas de refrescos, cervezas y conservas. En el 
                contenedor azul, va el papel y el cartón, como cajas, periódicos, revistas, libros viejos, servilletas, 
                papeles de envolver. El de color verde sirve para depositar los envases de vidrio. El contenedor marrón de 
                reciente incorporación sirve de depósito para los residuos orgánicos: cualquier tipo de alimento, eso sí, 
                sin mezclar con plástico, vidrio, etc.</li>
            <li>
                También se pueden reciclar las pilas, los aparatos electrónicos, eléctricos, las bobillas de cualquier tipo, 
                este tipo de residuos puedes llevarlos a los llamados “puntos limpios” de tu comunidad que son especiales para 
                este tipo de productos. En algunas tiendas hay puntos donde recogen las pilas y al comprar un nuevo 
                electrodoméstico la tienda debe llevarse el viejo para reciclarlo.</li>
            <li>
                Reutiliza las bolsas de plástico, estas pueden usarse una y otra vez para cargar tus comprar en el mercado 
                y cuando ya no te sirvan las llevas al contenedor amarillo. Usar una bolsas textil o un carrito de la 
                compra es incluso mejor, más recomendable y cómodo.</li>
            <li>
                Los desechos orgánicos puedes reciclarlos, si tienes, en tu propia compostera para tus plantas. </li>
            <li>
                No tires el aceite de cocina por el fregadero ya que es muy contaminante. Llena una botella con 
                los restos de aceite y depositala en los contenedores correspondientes o punto limpio</li>
            <li>
                En lugar de desechar la ropa que ya no necesitas, considera donarla o reciclarla. Muchas comunidades 
                tienen contenedores de reciclaje de textiles.</li>
         </ol>
         <div class="imagen1" style="text-align: center;">
            <img src="../assets/reciclaje/tipoBasura.jpg">
         </div>
    
        <h1 style="text-align: center;">Ventajas del reciclaje</h1>
        <p>
            El reciclaje de los residuos urbanos produce ventajas y beneficios económicos y sociales para 
            toda la sociedad, así como ayudar a disminuir la contaminación ambiental. Entre las ventajas 
            del reciclaje se pueden mencionar.
        </p>
        <ul>
            <li>Al ser utilizados los residuos como recursos de materia prima se conservan los recursos 
                naturales; además, de que se minimizan los gastos de su producción.</li>
            <li>Se logra reducir el volumen de la basura recolectada que son enviadas a las empresas 
                encargadas de incinerar los residuos o depositándolos en vertederos</li>
            <li>Propicia el aumento de la vida útil de los envases que se reciclan.</li>
            <li>Se reduce el transporte de la recolección de basura.</li>
            <li>Genera nuevos empleos.</li>
            <li>Los artículos elaborados con la técnica del reciclaje son de menor coste para el consumidor.</li>
            <li>Reduce la contaminación.</li>
            <li>Se promueve el pensamiento crítico de una nueva sociedad de consumo.</li>
        </ul>
        <p>
            Reciclar depende de cada una de las personas, cada quien debe tener un poco de conciencia ecológica
            para comenzar a cuidar el planeta primero intentando una compra más comprometida 
            y después reciclando en la medida de lo posible.
        </p>
        <div class="imagen2" style="text-align: center;">
            <img src="../assets/reciclaje/ventaja.jpg">
        </div>
        </div>
    </div>
</body>